{% extends 'home/template_base.html' %}

{% block titulo %}
    SGAB - Sistema de gerenciamento AB
{% endblock %}

{% block conteudo %}

<div class="container">
    <div class="row mt-3">        
        <div class="col-sm-12 mb-3">
            <div class="card border-dark">
                <div class="card-body">
                    <h5 class="card-title text-center">Cadastro de candidatos</h5>
                    <hr>                
                    <form action="{{ url_for('home_bp.cadastrar') }}" method="POST">
                        <div class="form-group">
                            <label for="nome">Nome:</label>
                            <input type="text" id="nome" name="nome" autofocus required>
                        </div>
                        <div class="form-group">
                            <label for="partido">Partido:</label>
                            <input type="text" id="partido" name="partido">
                        </div>
                        <div class="form-group">
                            <label for="numero">Número</label>
                            <input type="number" id="numero" name="numero" required>
                        </div>
                        <div class="form-group">
                            <label for="votos">Votos</label>
                            <input type="number" id="votos" name="votos">
                        </div>
                        <div class="form-group">
                            <button type="submit">Cadastrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
</div>

{% endblock %}