{% extends 'home/template_base.html' %}

{% block titulo %}
    SGAB - Sistema de gerenciamento AB
{% endblock %}

{% block script %}
<script>
    function enviarFormulario(event) {
        const form = event.target.form;
        const xhr = new XMLHttpRequest();
        xhr.open("POST", form.action, true);
        xhr.send(new FormData(form));
    }
</script>
{% endblock %}

{% block conteudo %}
<div class="container">
    <div class="row mt-3">    
        <div class="col-sm-12 mb-3">
            <div class="card border-dark">
                <div class="card-body">
                    <h1>Lista de Candidatos</h1>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Nome</th>
                                <th scope="col">Partido</th>
                                <th scope="col">Número</th>
                                <th scope="col">Votos</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for candidato in candidatos %}
                            <tr>
                                <form action="{{ url_for('home_bp.atualizar_candidato', id=candidato.id) }}" method="POST">
                                    <td>{{ candidato.nome }}</td>
                                    <td>{{ candidato.partido }}</td>
                                    <td>{{ candidato.numero }}</td> 
                                    <td>
                                        <input type="number" name="votos" value="{{ candidato.votos }}" 
                                            onchange="enviarFormulario(event)">
                                    </td>
                                </form>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}